{% extends 'base/index.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
<div class="card shadow-sm">
    <div class="card-header d-flex ">
        <h4 class="card-title">Appointments List </h4>
    </div>
    <div class="card-body">
        <div class="row mb-2 g-4 align-items-center">
            <div class="col-sm-3">
                {% if Status != "Cancelled"%}
                <a href='{% url "Add_Appointment" %}' id="NewAppointment"
                    class="btn btn-primary">
                    Add Appointment
                </a>
                {%endif%}
            </div>
            <div class="col-sm-auto ms-auto">
                <div class="hstack gap-2">
                    <div class="form-group">
                        <input type="date" id="dataDate" name="dataDate" dataDate={{ dataDate }}  class="form-control select2 w-100"/>
                   </div>
                    <div class="form-group">
                        <select id="DataNumber" name="DataNumber" DataNumber={{ DataNumber}}
                            class="form-control select2 w-100">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>

                    

                    <form autocomplete='off'>
                        <div class="input-group mr-0">
                            <input id="SearchQuery" type="text" placeholder="Search..." value='{{SearchQuery}}'
                                class="form-control" aria-label="Recipient's username"
                                aria-describedby="button-addon2">
                            <button class="btn btn-primary" type="button" id="button-addon2">
                                <i class="bx bx-search"></i>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%" id="AppointmentTable">
                <thead>
                    <tr>
                        <th style="width: 90px;">Queue No</th>
                        <th>Appoint Number</th>
                        <th data-priority="1">Patient FullName</th>
                        <th data-priority="3">Speciality</th>
                        <th data-priority="1">Doctor</th>
                        <th data-priority="3">Appoint Date </th>
                        <th data-priority="3">Receptionist</th>
                        <th data-priority="6">Status</th>
                        <th data-priority="6">Action</th>
                    
                    </tr>
                </thead>
                <tbody>
                    {%if page_objects %}
                    {% for Appoint in page_objects %}
                    <tr>
                        <td style="width: 90px;">{{Appoint.queue_number}}</td>
                        <td>{{Appoint.AppointmentNumber}}</td>
                        <td><a href="{% url 'patient-view' Appoint.id %}" > {{Appoint.Patient.get_fullName}} </a></td>
                        <td>{{Appoint.jobtypes.name}}</td>
                        <td>{{Appoint.Doctor.get_full_name}}</td>
                        <td>{{Appoint.AppointmentDate}}</td>
                        <td>{{Appoint.Receptionist.first_name}} {{Appoint.Receptionist.last_name}}</td>
                        <td>{{Appoint.Status}}</td>
                        <td>
                            <a href="#" rowid={{Appoint.id}} id="viewAppointment"  data-bs-toggle="modal" data-bs-target="#ViewAppointment">
                                <button type="button" class="btn btn-sm btn-primary">
                                    <i class="las la-eye"></i>
                                </button>
                            </a> 
                            <a href='{% url "Update-Appointment-Form" Appoint.id %}' id="Update-Appointment-Form">
                                <button type="button" class="btn btn-sm btn-success">
                                    <i class="las la-edit"></i> 
                                </button>
                            </a>
                        </td>
                    </tr>
                {%endfor%}
                {% else %}
                    <tr>
                        <td class='text-center' colspan='9'>No Appointments available</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div class="mt-3 col-md-12 d-flex justify-content-between align-items-center">
            <div activePage = {{ page_objects.number }} class="col-md-6 activePage">
                
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center">
                                    
                <nav aria-label="...">
                    <ul class="pagination mb-0">
                        <li class="page-item {% if not page_objects.has_previous %}disabled{% endif %}" page="1">
                            <span class="page-link"><i class="bx bx-chevrons-left"></i></span>
                        </li>
                        <li class="page-item {% if not page_objects.has_previous %}disabled{% endif %}" page="{% if page_objects.has_previous %}{{ page_objects.previous_page_number }}{% else %}No Page{% endif %}">
                            <span class="page-link"><i class="bx bx-chevron-left"></i></span>
                        </li>
                    
                        <li class="page-item {% if not page_objects.has_next %}disabled{% endif %}" page="{% if page_objects.has_next %}{{ page_objects.next_page_number }}{% else %}No Page{% endif %}">
                            <a class="page-link" href="#"><i class="bx bx-chevron-right"></i></a>
                        </li>
                        <li class="page-item {% if not page_objects.has_next %}disabled{% endif %}" page="{{ page_objects.paginator.num_pages}}">
                            <a class="page-link" href="#"><i class="bx bx-chevrons-right"></i></a>
                        </li>
                    </ul>
                </nav>



            </div>
        </div>
    </div>
</div>



<!--  Large modal example -->
<div class="modal fade view-modal" tabindex="-1" id="ViewAppointment" role="dialog" id="#" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">Apppointment View</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm m-0 table-bordered ">
                            <form id="labresult">
                                {% csrf_token %}
                                <thead>
                                    <tr>
                               
                                     
                                        <th class="text-dark fw-medium">Appointment Number</th>
                                        <td><span id="Appoint_id"></span></td>
                                        <th class="text-dark fw-medium">Appointment Date</th>
                                        <td><span id="AppointmentDate"></span></td>
                                    </tr>
                                    <tr>
                                        <th class="text-dark fw-medium">Patient Name</th>
                                        <td><span id="patient"></span></td>
                                        <th class="text-dark fw-medium">Doctor</th>
                                        <td><span id="doctor"></span></td>
                                    </tr>
                                  
                                    <tr>
                                    
                                        
                                    </tr>
                                    <tr>
                                        <th class="text-dark fw-medium">Patient Age</th>
                                        <td><span id="age"></span></td>
                                        <th class="text-dark fw-medium">Patient Gender</th>
                                        <td><span id="gender"></span></td>
                                    </tr>
                                   
                                    <tr>
                                        <th class="text-dark fw-medium">Patient MobileNo</th>
                                        <td><span id="mobileNo"></span></td>
                                        <th class="text-dark fw-medium">Patient Address</th>
                                        <td><span id="address"></span></td>
                                    </tr>
                                    <tr>
                                        <th class="text-dark fw-medium fs-16">QUEUE Number</th>
                                        <td class="text-dark fw-medium fs-16" colspan="3"><span id="Queue_no"></span></td>
                                    </tr>
                                   
                                </thead>
                            </form>
                        </table>
                        <div style="margin-top: 30px;margin-bottom: 20px;">
                            <table style="width: 100%;">
                              <tr>
                                <td style="text-align: center;">
                                    <i>  <u><span id="Receptionist"></span></u>  </i>
                                    <br>
                                    Receptionist
                                  </td>
                               
                              </tr>
                            </table>
                          </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->    
{% endblock content %}
{% block scripts %}
<script src={% static "scripts/APEN/Appointments/appointment-list.js" %}></script>
{% endblock scripts %}