{% extends 'base/index.html' %}
{% load static%}
{% block content %}

<!-- /.modal -->


<div class="row">
  <div class="col-12">
      <div class="page-title-box d-sm-flex align-items-center justify-content-between">
          <h4 class="mb-sm-0">Medicine Details</h4>
      </div>
  </div>
</div>


<div class="row">
  <div class="col-xxl-3">
      <div class="card shadow-sm">
          <div class="card-body p-4">
              <div>
                  <div class="flex-shrink-0 avatar-md mx-auto">
                      <div class="avatar-title bg-light rounded">
                          <img src="{% static "assets/images/med.png" %}" style="width: 200%;" alt="" height="100" />
                      </div>
                  </div>
                  <div class="mt-4 text-center">
                      <h5 class="mb-1"> Medicine </h5>
                     <br>
                  </div>
                  <div class="table-responsive">
                      <table class="table mb-0 table-borderless">
                          <tbody>
                              <tr>
                                  <th><span class="fw-medium">ID</span></th>
                                  <td>{{medicine.id}}</td>
                              </tr>
                              <tr>
                                  <th><span class="fw-medium">Medicine name</span></th>
                                  <td>{{medicine.Medicine_name}}</td>
                              </tr>
                              <tr>
                                  <th><span class="fw-medium">Box</span></th>
                                  <td>{{medicine.box}}</td>
                              </tr>
                              <tr>
                                  <th><span class="fw-medium">Quantity</span></th>
                                  <td>{{medicine.quantity}}</td>
                              </tr>
                              <tr>
                                <th><span class="fw-medium">supplier_price</span></th>
                                <td>{{medicine.supplier_price}}</td>
                            </tr>
                            <tr>
                              <th><span class="fw-medium">Category</span></th>
                              <td>{{medicine.Medicine_categories}}</td>
                          </tr>
                          <tr>
                            <th><span class="fw-medium">manufacturing</span></th>
                            <td>{{medicine.manufacturing}}</td>
                        </tr>
                        <tr>
                          <th><span class="fw-medium">dosage</span></th>
                          <td>{{medicine.dosage}}</td>
                      </tr>
                              
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <!--end card-body-->
          
          <!--end card-body-->
          
          <!--end card-body-->
      </div>
      <!--end card-->
  </div>
  <!--end col-->

  <div class="col-xxl-9">
      <div class="card">
          <div class="card-header border-0 align-items-center d-flex">
              <h4 class="card-title mb-0 flex-grow-1">medicine</h4>
          </div><!-- end card header -->
         <!-- end card header -->
          <div class="card-body p-0 pb-2">
              <div>
                  <ul class="nav nav-tabs nav-justified mb-3" role="tablist" style="color: rgb(202, 34, 34);">
                      <li class="nav-item" style="color: blue;">
                          <a class="nav-link" data-bs-toggle="tab" href="#home1" role="tab" aria-selected="false" style="color: blue;">
                            STORE IN
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link active" data-bs-toggle="tab" href="#settings1" role="tab" aria-selected="false" style="color: blue;">
                              REFILL
                          </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " data-bs-toggle="tab" href="#outstore" role="tab" aria-selected="false" style="color: blue;">
                            STORE OUT
                        </a>
                    </li>
                      
                  </ul>

                  
                  
                  <div class="tab-content p-3 text-muted">
                    <div class="tab-pane active" id="home1" role="tabpanel">
                        <br>
                        <br>
                        
                        <!-- <h2 style="align-items: self-end; color: rgba(2, 2, 8, 0.466);">Purcase Transection </h2>  -->
                                <table id="transactiontable1" class="table table-bordered nowrap table-striped align-middle" style="width:100%">
                                    <thead >
                                      <tr>
                                       
                                        <th scope="col">ID </th>
                                        <th scope="col">Type </th>
                                        <th scope="col">Bach_no</th>
                                        <th scope="col">Box </th>
                                        <th scope="col">Qty</th>
                                        <th scope="col">Manufacturing date</th>
                                        <th scope="col">ExpireDate </th>
                                        <th scope="col">Expire </th>
                                        <th scope="col">Days untill</th>
                                        <th scope="col">Sulplier price </th>
                                        <th scope="col">date</th>
                                        <th scope="col">Acction</th>

                                        
                                      
                                      </tr>
                                    </thead>
                                    <tbody id="tbody">
                                     
                                      {% for med in transection %}
                                      {% if med.Type == "purchase" %}
                                      <tr>
                                      
                                      <td>{{med.id}}</td>
                                      <td>{{med.Type}}</td>
                                      <td>{{med.BatchNO}}</td>
                                      <td>{{med.box}}</td>
                                      <td>{{med.qty}}</td>
                                      <td>{{med.manufacturing_date}}</td>
                                      {% if med.is_expired %}
                                      <td style="color: red;" aria-disabled="true">{{med.Expire_date}}</td>
                                      <td style="color: red;">Yes</td>
                                      {% else %}
                                      <td>{{med.Expire_date}}</td>
                                      <td>No</td>
                                      {% endif %}
                                      <td>{% if not med.is_expired %}{{ med.days_until_expiry }}{% endif %}</td>
                                      
                                      <td>{{med.supplier_price}}</td>
                                     
                                      <td>{{med.date}}</td>
                                      <td>
                                        <button type="button" class=" btn btn-sm btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#editmedicinetransection{{med.id}}"><i class="ri-pencil-fill"></i> </button>

                                        <div id="editmedicinetransection{{med.id}}" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true" data-bs-scroll="true" data-bs-backdrop="static" data-bs-keyboard="false">
                                          <div class="modal-dialog modal-xl">
                                              <div class="modal-content">
                                                  <div class="modal-header">
                                                      <h5 class="modal-title" id="myModalLabel1">Edit medicine{{med.id}}</h5>
                                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                  </div>
                                                  <div class="modal-body">
                                                      <!-- Start row -->
                                                                  <form id="medicinedit"> 
                                                                       {% csrf_token %}
                                                                          <div class="row">
                                                                              <div class="col-lg-6">
                                                                                  <div>
                                                                                           
                                                                                          
                                                                                      <div class="mb-4">
                                                                                          <label class="form-label" for="default-input">Bach_no</label>
                                                                                          <input  class="form-control" type="text" id="bach_no2" placeholder="Medicine name" value="{{med.BatchNO}}">
                                                                                          <input class="form-control" type="hidden" id="medid1" value="{{med.id}}">
                                                                                          
                                                                                      </div>
                                                                                      <div class="mb-4">
                                                                                        <label class="form-label" for="default-input">Box</label>
                                                                                        <input class="form-control" type="number" id="box2" placeholder="box" value="{{med.box}}">
                                                                                    </div>
                                                                                    <div class="mb-4">
                                                                                        <label class="form-label" for="default-input">Quantity</label>
                                                                                        <input class="form-control" type="number" id="quantity2" placeholder="quantity" value="{{med.qty}}">
                                                                                    </div>
                                                                               
                                                                                  </div>
                                                                              </div>
                                              
                                                                              <div class="col-lg-6">
                                                                                <div class="mb-4">
                                                                                    <label class="form-label" for="default-input">Supplier_price</label>
                                                                                    <input class="form-control" type="text" id="supplierPrice2" placeholder="description" value="{{med.supplier_price}}">
                                                                                </div>
                                                                             
                                                                                  <div class="mb-4">
                                                                                      <label class="form-label" for="default-input">Manufacturing date</label>
                                                                                      <input class="form-control" type="date" id="manufacturingdate2" placeholder="manufacturingdate" value="{{med.manufacturing_date}}">
                                                                                  </div>
                                                                                  <div class="mb-4">
                                                                                    <label class="form-label" for="default-input">Expiry_date</label>
                                                                                    <input class="form-control" type="date" id="ExpireDate2" placeholder="Expiry_date" value="{{med.Expire_date}}">
                                                                                </div>
                                        
                                                                                  </div>
                                              
                                                                              </div>
                                                                              <div class="row">
                                                                                  <div class="col-lg-2">
                                                                                      <button type="button" class="btn btn-danger waves-effect waves-light" data-bs-dismiss="modal">Back</button>
                                                                                      <button type="button" id="btn_submit_transection2" class="btn btn-primary waves-effect waves-light">Save</button>
                                                                                  </div>
                                                                                  <div class="col-lg-10">
                                                                                      
                                                  
                                                                                  </div>
                                                                              </div>
                                              
                                                                          </div>
                                                                          
                                                                  </form>
                                              
                                                                
                                                          <!-- end col -->
                                                      </div>
                                                  </div>
                                                 
                                              </div><!-- /.modal-content -->
                                          </div>

                                      </td>
                                      
                                      </tr>
                                      
                                      {% endif %}
                                      {%endfor%}
                                     
                                     
                                    </tbody>
                                  </table>
                    </div>
                    
                    
                    <div class="tab-pane" id="settings1" role="tabpanel">
                        <br>
                        <br>
                        <!-- <h2 style="align-items: self-end; color: rgba(2, 2, 8, 0.466);">Refill Transection</h2>  -->
                                <table id="transactiontable2" class="table table-bordered solid">
                                    <thead>
                                      <tr>
                                       
                                        <th scope="col">ID </th>
                                        <th scope="col">Type </th>
                                        <th scope="col">Bach_no</th>
                                        <th scope="col">Box </th>
                                        <th scope="col">Qty</th>
                                        <th scope="col">Manufacturing date</th>
                                        <th scope="col">ExpireDate </th>
                                        <th scope="col">Expire </th>
                                        <th scope="col">Days untill</th>
                                        <th scope="col">Sulplier price </th>
                                        <th scope="col">date</th>
                                        <th scope="col">Acttion</th>
                                      
                                      </tr>
                                    </thead>
                                    <tbody id="tbody">
                                    
                                      {% for med in transection %}
                                      {% if med.Type == "Refill" %}
                                      <tr>
                                      
                                      <td>{{med.id}}</td>
                                      <td>{{med.Type}}</td>
                                      <td>{{med.BatchNO}}</td>
                                      <td>{{med.box}}</td>
                                      <td>{{med.qty}}</td>
                                      <td>{{med.manufacturing_date}}</td>
                                      {% if med.is_expired %}
                                      <td style="color: red;">{{med.Expire_date}}</td>
                                      <td style="color: red;">Yes</td>
                                      {% else %}
                                      <td>{{med.Expire_date}}</td>
                                      <td>No</td>
                                      {% endif %}
                                      <td>{% if not med.is_expired %}{{ med.days_until_expiry }}{% endif %}</td>
                                      <td>{{med.supplier_price}}</td>
                                     
                                      <td>{{med.date}}</td>

                                      
                                        <td>
                                          <button type="button" class=" btn btn-sm btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#editmedicinetransectionrefill{{med.id}}"><i class="ri-pencil-fill"></i> </button>
  
                                          <div id="editmedicinetransectionrefill{{med.id}}" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true" data-bs-scroll="true"  data-bs-backdrop="static" data-bs-keyboard="false">
                                            <div class="modal-dialog modal-xl">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="myModalLabel1">Edit medicine{{med.id}}</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- Start row -->
                                                                    <form id="medicineForm1"> 
                                                                        {% csrf_token %}
                                                                            <div class="row">
                                                                                <div class="col-lg-6">
                                                                                    <div>
                                                                                           
                                                                                        <div class="mb-4">
                                                                                            <label class="form-label" for="default-input">Bach_no</label>
                                                                                            <input class="form-control" type="hidden" id="medid" value="{{med.id}}">
                                                                                            
                                                                                            <input  class="form-control" type="text" id="bach_no3" placeholder="Medicine name" value="{{med.BatchNO}}">
                                                                                        </div>
                                                                                        <div class="mb-4">
                                                                                            <label class="form-label" for="default-input">Box</label>
                                                                                            <input class="form-control" type="number" id="box3" placeholder="box" value="{{med.box}}">
                                                                                        </div>
                                                                                        <div class="mb-4">
                                                                                            <label class="form-label" for="default-input">Quantity</label>
                                                                                            <input class="form-control" type="number" id="quantity3" placeholder="quantity" value="{{med.qty}}">
                                                                                        </div>
                                                                                   
                                                                                    </div>
                                                                                </div>
                                                
                                                                                <div class="col-lg-6">
                                                                                
                                                                                    <div class="mb-4">
                                                                                        <label class="form-label" for="default-input">Supplier_price</label>
                                                                                        <input class="form-control" type="number" id="supplierPrice3" placeholder="description" value="{{med.supplier_price}}">
                                                                                    </div>

                                                                                    
                                                                                    <div class="mb-4">
                                                                                        <label class="form-label" for="default-input">Manufacturing date</label>
                                                                                        <input class="form-control" type="date" id="manufacturingdate3" placeholder="manufacturingdate" value="{{med.manufacturing_date}}">
                                                                                    </div>

                                                                                    <div class="mb-4">
                                                                                        <label class="form-label" for="default-input">Expiry_date</label>
                                                                                        <input class="form-control" type="date" id="ExpireDate3" placeholder="Expiry_date" value="{{med.Expire_date}}">
                                                                                    </div>
                                          
                                                                                    </div>
                                                
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-lg-2">
                                                                                        <button type="button" class="btn btn-danger waves-effect waves-light" data-bs-dismiss="modal">Back</button>
                                                                                        <button type="button" id="btn_submit_edit_transacrion_refill" class="btn btn-primary waves-effect waves-light">Save</button>
                                                                                    </div>
                                                                                    <div class="col-lg-10">
                                                                                        
                                                    
                                                                                    </div>
                                                                                </div>
                                                
                                                                            </div>
                                                                            
                                                                    </form>
                                                
                                                                  
                                                            <!-- end col -->
                                                        </div>
                                                    </div>
                                                   
                                                </div><!-- /.modal-content -->
                                            </div>
  
                                        </td>
                                    
                                        
                                      </tr>
                                     
                                      {% endif %}
                                      {%endfor%}
                                      
                                     
                                    </tbody>
                                  </table>
                                  <!-- <script>
                                    window.print();
                                  </script> -->
                    </div>
                    <div class="tab-pane" id="outstore" role="tabpanel">
                        <br>
                        <br>
                        <h2 style="align-items: self-end; color: rgba(2, 2, 8, 0.466);"></h2> 
                                <table id="transactiontable3" class="table table-bordered solid">
                                    <thead>
                                      <tr>
                                       
                                        <th scope="col">ID </th>
                                        <th scope="col">Type </th>
                                        <th scope="col">Bach_no</th>
                                        <th scope="col">Box </th>
                                        <th scope="col">Qty</th>
                                        <th scope="col">Manufacturing date</th>
                                        <th scope="col">ExpireDate </th>
                                        <th scope="col">Expire </th>
                                        <th scope="col">Days untill</th>
                                        <th scope="col">Sulplier price </th>
                                        <th scope="col">date</th>
                                      
                                      </tr>
                                    </thead>
                                    <tbody id="tbody">
                                    
                                        {% for med in transection %}
                                        {% if med.Type == "paid" %}
                                        <tr>
                                        
                                        <td>{{med.id}}</td>
                                        <td>{{med.Type}}</td>
                                        <td>{{med.BatchNO}}</td>
                                        <td>{{med.box}}</td>
                                        <td>{{med.qty}}</td>
                                        <td>{{med.manufacturing_date}}</td>
                                       {% if med.is_expired %}
                                      <td style="color: red;">{{med.Expire_date}}</td>
                                      <td style="color: red;">Yes</td>
                                      {% else %}
                                      <td>{{med.Expire_date}}</td>
                                      <td>No</td>
                                      {% endif %}
                                      <td>{% if not med.is_expired %}{{ med.days_until_expiry }}{% endif %}</td>
                                        <td>{{med.supplier_price}}</td>
                                       
                                        <td>{{med.date}}</td>
                                          
                                        </tr>
                                       
                                       
                                        {% endif %}
                                        {%endfor%}
                                      
                                     
                                    </tbody>
                                  </table>
                                 
                    </div>
                   
                </div>
              </div>
          </div><!-- end card body -->
      </div><!-- end card -->

  </div>
  <!--end col-->
</div>

<div id="refail" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true" data-bs-scroll="true">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel1">Refill medicine</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <!-- Start row -->
                          <form id="medicineForm1"> 
                              {% csrf_token %}
                                  <div class="row">
                                      <div class="col-lg-6">
                                          <div>
                                                   
                                                  
                                              <div class="mb-4">
                                                  <label class="form-label" for="default-input">Bach_no</label>
                                                  <input class="form-control" type="text" id="bach_no2" placeholder="Medicine name">
                                                  
                                              </div>
                                              
                                              <div class="mb-4">
                                                  <label class="form-label" for="default-input">Expiry_date</label>
                                                  <input class="form-control" type="date" id="ExpireDate2" placeholder="Expiry_date">
                                              </div>
                                              <div class="mb-4">
                                                  <label class="form-label" for="default-input">Supplier_price</label>
                                                  <input class="form-control" type="text" id="supplierPrice2" placeholder="description">
                                              </div>
                                              
                                          </div>
                                      </div>
      
                                      <div class="col-lg-6">
                                          
                                          <div class="mb-4">
                                              <label class="form-label" for="default-input">Box</label>
                                              <input class="form-control" type="number" id="box2" placeholder="box">
                                          </div>
                                          
                                          
                                          <div class="mb-4">
                                              <label class="form-label" for="default-input">Quantity</label>
                                              <input class="form-control" type="number" id="quantity2" placeholder="quantity">
                                          </div>
                                          
                                          <div class="mb-4">
                                              <label class="form-label" for="default-input">Manufacturing date</label>
                                              <input class="form-control" type="date" id="manufacturingdate2" placeholder="manufacturingdate">
                                          </div>

                                          </div>
      
                                      </div>
                                      <div class="row">
                                          <div class="col-lg-2">
                                              <button type="button" class="btn btn-danger waves-effect waves-light">Back</button>
                                              <button type="button" id="btn_submit_refill" class="btn btn-primary waves-effect waves-light">Save</button>
                                          </div>
                                          <div class="col-lg-10">
                                              
          
                                          </div>
                                      </div>
      
                                  </div>
                                  
                          </form>
      
                        
                  <!-- end col -->
              </div>
          </div>
         
      </div><!-- /.modal-content -->
  </div>

{% endblock content %}
{% block scripts %}
<!-- <script src={% static "scripts/Inventory/store_cate.js" %}></script> -->
<script src={% static "scripts/Inventory/EditMedicineTransaction.js" %}></script>
{% endblock scripts %}
