{% extends 'base/index.html' %}
{% load static %}

{% block content %}
<div class="card">
    <div class="card-header d-flex">
        <h4 class="card-title">Category</h4>
    </div>

    <div class="card-body">
        <div class="row mb-2 g-4 align-items-center">
            <div class="col-sm-3">

              
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"><i class="bx bx-plus me-1"></i> Add Category</a>
   
            </div>
            <div class="col-sm-auto ms-auto">
                <div class="hstack gap-2">
                    
                    <div class="form-group">
                        <select id="DataNumber" name="DataNumber" DataNumber={{ DataNumber}}
                            class="form-control select2 w-100">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>

                   <form autocomplete='off'>
                    <div class="input-group mr-0">
                        <input id="SearchQuery" type="text" placeholder="Search..." value='{{SearchQuery}}'
                            class="form-control" aria-label="Recipient's username"
                            aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" id="button-addon2">
                            <i class="bx bx-search"></i>
                        </button>
                    </div>
                  </form>

                </div>
            </div>
        </div>
       
        <div class="table-rep-plugin">
            <div class="table-responsive mb-0" data-pattern="priority-columns">
                <table id="store_cat_table" class="table table-bordered nowrap table-striped align-middle" style="width:100%">
                    <thead>
                        
                            <tr>
                                <th>Category ID</th>
                            <th data-priority="1">Category Name</th>
                            <th data-priority="3">Description</th>
                            
                            <th data-priority="6">Action</th>
                            </tr>
                    </thead>
                    <tbody>
                        {%if page_objects%}
                        {% for equioment_cat in page_objects %}
                        <tr>
                            <td><a href="javascript: void(0);" class="text-dark fw-medium">{{equioment_cat.id}}</a> </td>
                            <td>{{equioment_cat.category_name}}</td>
                            <td>{{equioment_cat.discription}}</td>
                            
                            <td>
                             <a id="editbuttonequipment" rowid= "{{equioment_cat.id}}" >  
                                <button type="button" class="btn btn-sm btn-info waves-effect waves-light"><i class="ri-pencil-fill"></i></button>
                            </a>
                        
                            <!-- <a  href="{% url 'delete_equipment_category' equioment_cat.id %}" type="button" >
                                <button type="button" class="btn btn-danger btn-icon waves-effect waves-light"><i class="ri-delete-bin-5-line"></i></button></a> -->
                        </tr>
                       {%endfor%}
                       {% else %}
                        <tr>
                            <td class='text-center' colspan='6'>No Equipment category  available</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>

        </div>
        <div class="mt-3 col-md-12 d-flex justify-content-between align-items-center">
            <div activePage = {{ page_objects.number }} class="col-md-6 activePage">
                
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center">
                                       
                <nav aria-label="...">
                    <ul class="pagination mb-0">
                        <li class="page-item {% if not page_objects.has_previous %}disabled{% endif %}" page="1">
                            <span class="page-link"><i class="bx bx-chevrons-left"></i></span>
                        </li>
                        <li class="page-item {% if not page_objects.has_previous %}disabled{% endif %}" page="{% if page_objects.has_previous %}{{ page_objects.previous_page_number }}{% else %}No Page{% endif %}">
                            <span class="page-link"><i class="bx bx-chevron-left"></i></span>
                        </li>
                       
                        <li class="page-item {% if not page_objects.has_next %}disabled{% endif %}" page="{% if page_objects.has_next %}{{ page_objects.next_page_number }}{% else %}No Page{% endif %}">
                            <a class="page-link" href="#"><i class="bx bx-chevron-right"></i></a>
                        </li>
                        <li class="page-item {% if not page_objects.has_next %}disabled{% endif %}" page="{{ page_objects.paginator.num_pages}}">
                            <a class="page-link" href="#"><i class="bx bx-chevrons-right"></i></a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>


            <div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-bs-scroll="true" data-bs-backdrop="static" data-bs-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">Add Store Category</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Start row -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        
                                        <div class="card-body">
                                            <form id="store_category">
                                                {% csrf_token %}
                                                <div class="mb-4">
                                                    <label class="form-label" for="default-input">Category Name</label>
                                                    <input class="form-control" type="text" id="Category_Name" placeholder="category name ">
                                                    <input class="form-control" type="hidden" id="CategoryID" placeholder="category name ">
                                                </div>
                                                <div class="mb-4">
                                                    <label class="form-label" for="default-input">Description</label>
                                                    <input class="form-control" type="text" id="Description" placeholder="description">
                                                </div>
                                                
                                                
                                            
                                                
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            
                                <!-- end col -->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Close</button>
                            <button type="button" id="btnn_submit" class="btn btn-primary waves-effect waves-light">Save changes</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>


{% endblock content %}
{% block scripts %}
<script src={% static "scripts/Inventory/store_cate.js" %}></script>
<script src={% static "scripts/Inventory/add_store_cat.js" %}></script>
{% endblock scripts %}