{% extends 'base/index.html' %}
{% load static%}

{% block content %}
<div class="card">
    

    <div class="card-body">
        <div class="row mb-2 g-4 align-items-center">

            <div class="col-sm-3">
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#lostandameged"><i class="bx bx-plus me-1"></i>Add Lost And Damaged</a>
                <!-- <h4 class="mb-sm-0 font-size-18">Lost And Dameged</h4> -->
              

                
            </div>
            <div class="col-sm-auto ms-auto">
                <div class="hstack gap-2">
                    
                    
                    <div class="form-group">
                        <select id="DataNumber" name="DataNumber" DataNumber={{ DataNumber}}
                            class="form-control select2 w-100">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>

                <form autocomplete='off'>
                    <div class="input-group mr-0">
                        <input id="SearchQuery" type="text" placeholder="Search..." value='{{SearchQuery}}'
                            class="form-control" aria-label="Recipient's username"
                            aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" id="button-addon2">
                            <i class="bx bx-search"></i>
                        </button>
                    </div>
                </form>

                </div>
            </div>
        </div>
       
        <div class="table-rep-plugin">
            <div class="table-responsive mb-0" data-pattern="priority-columns">
                <table id="lost_and_damaged" class="table table-bordered nowrap table-striped align-middle" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th data-priority="1">Equipment name</th>
                            <th data-priority="1">Lost And Damage</th>
                            <th data-priority="1">Reason</th>
                            <th data-priority="1">Status</th>
                          
                            
                        </tr>
                    </thead>
                    <tbody >
                        {%if page_objects %}
                        {% for losts in page_objects %}
                        <tr>
                            <td><a href="" class="text-dark fw-medium">{{losts.id}}</a> </td>
                            
                            <td>{{losts.Equipment_name.item_name}}</td>
                            <td>{{losts.lost_and_damaged}}</td>
                            <td>{{losts.reason}}</td>
                            <td><span class="btn btn-sm pe-none bg-info text-white fw-bolder">{{Status1}}</span></td>
                          
                            
                             
                        </tr>
                        
                    {%endfor%}
                    {% else %}
                        <tr>
                            <td class='text-center' colspan='6'>No Lost and dameged Equipmen</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                
            </div>

        </div>
        <div class="mt-3 col-md-12 d-flex justify-content-between align-items-center">
            <div activePage = {{ page_objects.number }} class="col-md-6 activePage">
                
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center">
                                    
                <nav aria-label="...">
                    <ul class="pagination mb-0">
                        <li class="page-item {% if not page_objects.has_previous %}disabled{% endif %}" page="1">
                            <span class="page-link"><i class="bx bx-chevrons-left"></i></span>
                        </li>
                        <li class="page-item {% if not page_objects.has_previous %}disabled{% endif %}" page="{% if page_objects.has_previous %}{{ page_objects.previous_page_number }}{% else %}No Page{% endif %}">
                            <span class="page-link"><i class="bx bx-chevron-left"></i></span>
                        </li>
                    
                        <li class="page-item {% if not page_objects.has_next %}disabled{% endif %}" page="{% if page_objects.has_next %}{{ page_objects.next_page_number }}{% else %}No Page{% endif %}">
                            <a class="page-link" href="#"><i class="bx bx-chevron-right"></i></a>
                        </li>
                        <li class="page-item {% if not page_objects.has_next %}disabled{% endif %}" page="{{ page_objects.paginator.num_pages}}">
                            <a class="page-link" href="#"><i class="bx bx-chevrons-right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
        <!-- start page title -->
        
        <!-- end page title -->
<!--  Large modal example -->
<!-- /.modal -->

<div class="modal fade" id="lostandameged" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myExtraLargeModalLabel">Add Lost and Damaged</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" id="lost_and_damaged_form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                
                                <div class="card-body">
                                    <div class="row">
                                        <!-- <h5 class="font-size-14 mb-2">Medicines</h5> -->
                                        <input class="form-control" type="hidden"  id="AppointmentID">
                                        <div id="show_item">
                                            <div class="row" id="row1">
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label class="form-label">Equipment Category</label>
                                                        <select class="form-select" name="MedicineCategory1" id="Equipmentcat">
                                                            <option selected value="">Select</option>
                                                            {% for equipment in store_category1%}
                                                            <option value="{{equipment.id}}">{{equipment.category_name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>                                                       
                                                </div>
                
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label class="form-label">Equipment</label>
                                                        <select class="form-select" name="Medicine1" id="Equipment">
                                                          
                                                            <option selected value="">Select</option>
                                                            {% for Eq in Equipment1%}
                                                            <option value="{{Eq.id}}">{{Eq.item_name}}</option>
                                                            {% endfor %}
                                                            <input class="form-control" type="hidden" id="EquipmentID" >
                                                        </select>
                                                    </div>                                                       
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="mb-2">
                                                        <label class="form-label">Quentity</label>
                                                        <input type="number" class="form-control" name="Qty1" id="Quentity">
                                                            
                                                    </div>                                                       
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Reason</label>
                                                        <input type="text" class="form-control" name="Reason" id="Reason">
                                                            
                                                    </div>                                                       
                                                </div>
                                                
                                                
                                                
                                                <br>
                                                
                                            </div>
                                           
                                        </div>
                                         
                                       
                                    </div>
                                    
                                       
                                            
                                    <div class="col-lg-12 col-md-6 col-sm-12">
                                        <div class="mb-3 text-end">
                                            <button  type='button'  data-bs-dismiss="modal" class="btn-danger btn">Cancel</button>
                                           <button  type='button' id="btn_submit_lost" class="btn-primary btn">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                      
                        </div>
                  
                    
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>



<!-- /.modal -->
{% endblock content %}
{% block scripts %}
<script src={% static "scripts/Inventory/lost_and_dameged_paj.js" %}></script>
<script src={% static "scripts/Inventory/lost_damage_equ.js" %}></script> 

{% endblock scripts %}