{% extends 'base/index.html' %}
{% load static %}
{% block modal %}

<div class="modal fade add_leave_cat_modal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modaltitle">Add Leave Cotegory</h5>
                <input class="form-control" type="text"  hidden disabled id="departments_id">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" id="job_t">
                    {% csrf_token %}
              <div class="row">


                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="mb-3">
                        <label for="example-text-input" class="form-label">Leave Category</label>
                        <input class="form-control" type="text"  id="name_leave">
                        <input class="form-control" type="text"  id="Leaveid" disabled hidden>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="mb-3">
                        <label for="example-text-input" class="form-label">Leave days</label>
                        <input class="form-control" type="text"  id="leavedays">
                    
                    </div>
                </div>






                <div class="col-lg-12 col-md-6 col-sm-12">
        
                    <div class="mb-3 text-end">
                        <a href="" data-dismiss="modal" class="btn-danger btn">Cancel</a>
                       <button  type='button' id="save_leave_cat" class="btn-primary btn">Save</button>
                
                </div>
                </div>
                
              </div>
            </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- end/department.modal -->

{%endblock%}
{% block content %}


<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
             <h4 class="mb-sm-0 font-size-18">Leave Category</h4>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
            <div class="row mb-2 g-4 align-items-center">
                {% if perms.Hr.Approve_employee%}
                    <div class="col-sm-3">
                        <a class="btn btn-info waves-effect waves-light mt-0 " id='New_Leave_Cotegory_id' >
                       Add Leave Category
                        </a>
           
                    </div>
                    {% endif %}
                    <div class="col-sm-auto ms-auto">
                        <div class="hstack gap-2">
                            

        
                            

                            <div class="form-group">
                                <select id="DataNumber" name="DataNumber" DataNumber={{ DataNumber}}
                                    class="form-control select2 w-100">


                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>

                           <form autocomplete='off'>
                            <div class="input-group mr-0">
                                <input id="SearchQuery" type="text" placeholder="Search..." value='{{SearchQuery}}'
                                    class="form-control" aria-label="Recipient's username"
                                    aria-describedby="button-addon2">
                                <button class="btn btn-primary" type="button" id="button-addon2">
                                    <i class="bx bx-search"></i>
                                </button>
                            </div>
                          </form>

                        </div>
                    </div>
            </div>
            <div class="row table-responsive">
                <div class="col-md-12 mt-3">
                    <table id="Leave_cotegory_table" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>                               
                                <th>Name</th>
                                <th>number of days</th>
                                <th>created</th>
                                <th>updated</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% if page_obj %}
                            {% for item in page_obj %}
                            
                            
                            <tr>
                                <td >{{item.id}}</td>  
                                <td>{{item.name}}</td>
                                <td>{{item.n_days}}</td>
                                <td>{{item.created}}</td>
                                <td>{{item.get_modified_date}}</td>
                                <td><button class="leaveEditbtn btn btn-primary btn-sm" LeaveID={{item.id}}>   <i class="ri-pencil-fill fs-10"></i></button></td>

                                
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td class='text-center' colspan='6'>No Category available</td>
                            </tr>
                            {% endif %}

                      
                        </tbody>
                    </table>
                </div>

                <div class="mt-3 col-md-12 d-flex justify-content-between align-items-center">
                    <div activePage = {{ page_obj.number }} class="col-md-6 activePage">
                      
                    </div>
                
                    <div class="col-md-6 d-flex justify-content-end align-items-center">
                                               
                        <nav aria-label="...">
                            <ul class="pagination mb-0">
                                <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}" page="1">
                                    <span class="page-link"><i class="bx bx-chevrons-left"></i></span>
                                </li>
                                <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}" page="{% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% else %}No Page{% endif %}">
                                    <span class="page-link"><i class="bx bx-chevron-left"></i></span>
                                </li>
                               
                                <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}" page="{% if page_obj.has_next %}{{ page_obj.next_page_number }}{% else %}No Page{% endif %}">
                                    <a class="page-link" href="#"><i class="bx bx-chevron-right"></i></a>
                                </li>
                                <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}" page="{{ page_obj.paginator.num_pages}}">
                                    <a class="page-link" href="#"><i class="bx bx-chevrons-right"></i></a>
                                </li>
                            </ul>
                        </nav>



                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div> 




           
{% endblock content %}
{% block scripts %}
<script src='{% static "scripts/hr/employee/leaveCategory.js" %}'></script>
<script src='{% static "scripts/hr/employee/newLeaveCategory.js" %}'></script>
{% endblock scripts %}